body {
  margin: auto;
}

.container {
  position: fixed;
}

img {
  height: 150px;
}

#forGifsOne {
  margin-top: 300px;
  margin-right: 700px;
  float: right;
}

button {
  background-color: #ED1D24;
  color: white;
  margin: 3px;
  overflow-wrap: break-word;
}

#new-topic-submitted {
  background-color: #ED1D24;
  color: white;
  margin: 3px;
}